<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



    <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='sidebar.css') }}" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}"> 

    {% if title %}
        <title>AMS - {{ title }}</title>
    {% else %}
        <title>Attendanece Managemnt Sytem</title>
    {% endif %}
</head>
<body>



    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        {% if current_user.is_authenticated %} 
        <div class="bg-light border-right" id="sidebar-wrapper">
          <div class="sidebar-heading"> <img src="{{ url_for('static', filename='images/ams1.svg') }}" style="height: 50px;"></div>
          <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action bg-light {{ 'active' if active_page == 'home' else '' }}" href="{{ url_for('users.home') }}">Dashboard</a>  
            <a class="list-group-item list-group-item-action bg-light {{ 'active' if active_page == 'profile' else '' }}" href="{{ url_for('users.profile') }}">Profile</a>
            <a class="list-group-item list-group-item-action bg-light">Status</a>
          </div>
        </div>
        {% else %}
        <!-- TODO -->
        {% endif %}
       <!-- /#sidebar-wrapper -->
    
        <!-- Page Content -->
        <div id="page-content-wrapper"> 
          <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            {% if not current_user.is_authenticated %} 
            <img src="{{ url_for('static', filename='images/ams.svg') }}" style="height: 50px;">
            {% endif %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto mt-2 mt-lg-0"> 
               
                {% if current_user.is_authenticated %} 
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{current_user.name}}
                  </a>
               

                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">                 
                    <a class="dropdown-item" href="{{ url_for('users.home') }}">Home</a>
                    <a class="dropdown-item" href="{{ url_for('users.profile') }}">Profile</a>                    
                    <div class="dropdown-divider"></div> 
                    <a class="dropdown-item"  href="{{ url_for('auth.logout') }}">Logout</a>                  
                  </div>
                </li>
                {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
                  </li>
                {% endif %}
              </ul>
            </div>
          </nav>
    
      
           <div class="container-fluid" style="height: 88vh;">
               {% block content %}{% endblock %}  
           </div>
      
        </div>
        <!-- /#page-content-wrapper -->
    
      </div>
      <!-- /#wrapper -->
 

 

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='jquery/jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>

   <!-- Menu Toggle Script -->
   <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>
</body>
</html>
